
Script 1 (Baseline Runs)/baseline_results_non_trade_central.mat
Water_Runs/MAT Files/water_arable2sng.mat
Water_Runs/MAT Files/water_arable2wood.mat
Water_Runs/MAT Files/water_grass2sng.mat
Water_Runs/MAT Files/water_grass2wood.mat
*.asv
Water_Runs/script6_use_rep_cells.asv
Water_Runs/script6_use_rep_cells.asv
*.log
Script 2 (ELM Option Runs)/elm_option_results_non_trade_central.mat
Script 2 (ELM Option Runs)/elm_option_results_non_trade_central.mat
Script 2 (ELM Option Runs)/elm_option_results_non_trade_central.mat
